.songTile {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.songTile:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}


.songTile__info {
    margin-left: 20px;
}

.songTile__info > h1 {
    font-size: 16px;
}

.songTile__info > p {
    font-size: 14px;
    margin-top: 3px;
    color: gray;
}

.songTile__album {
    height: 40px;
    width: 40px;
}